<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490461028413-rilqqpir86mnbq97sp6tb6bra2o4aqbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490461028413-rilqqpir86mnbq97sp6tb6bra2o4aqbf</string>
	<key>API_KEY</key>
	<string>AIzaSyC7zOzmD6u5_OPOhdFwZgrKvWRTvacbhRE</string>
	<key>GCM_SENDER_ID</key>
	<string>490461028413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appiatto.urlitl</string>
	<key>PROJECT_ID</key>
	<string>urlitl-397de</string>
	<key>STORAGE_BUCKET</key>
	<string>urlitl-397de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490461028413:ios:71380ee6678a7c233c4a54</string>
</dict>
</plist>